#arcGraph g.state1 {
  transform: translate(3px, 372px);
}
#arcGraph g.state2 {
  transform: translate(27px, 372px);
}
#arcGraph g.state3 {
  transform: translate(52px, 372px);
}
#arcGraph g.state4 {
  transform: translate(77px, 372px);
}
#arcGraph g.state5 {
  transform: translate(102px, 372px);
}
#arcGraph g.state6 {
  transform: translate(127px, 372px);
}
#arcGraph g.state7 {
  transform: translate(152px, 372px);
}
#arcGraph g.state8 {
  transform: translate(177px, 372px);
}
#arcGraph g.state9 {
  transform: translate(202px, 372px);
}
#arcGraph g.state10 {
  transform: translate(227px, 372px);
}
#arcGraph g.state11 {
  transform: translate(252px, 372px);
}
#arcGraph g.state12 {
  transform: translate(277px, 372px);
}
#arcGraph g.state13 {
  transform: translate(302px, 372px);
}
#arcGraph g.state14 {
  transform: translate(327px, 372px);
}
#arcGraph g.state15 {
  transform: translate(352px, 372px);
}
#arcGraph g.state16 {
  transform: translate(377px, 372px);
}
#arcGraph g.state17 {
  transform: translate(402px, 372px);
}
#arcGraph g.state18 {
  transform: translate(427px, 372px);
}
#arcGraph g.state19 {
  transform: translate(452px, 372px);
}
#arcGraph g.state20 {
  transform: translate(477px, 372px);
}
#arcGraph g.state21 {
  transform: translate(502px, 372px);
}
#arcGraph g.state22 {
  transform: translate(527px, 372px);
}
#arcGraph g.state23 {
  transform: translate(552px, 372px);
}
#arcGraph g.state24 {
  transform: translate(577px, 372px);
}
#arcGraph g.state25 {
  transform: translate(602px, 372px);
}
#arcGraph g.state26 {
  transform: translate(627px, 372px);
}
#arcGraph g.state27 {
  transform: translate(652px, 372px);
}
#arcGraph g.state28 {
  transform: translate(677px, 372px);
}
#arcGraph g.state29 {
  transform: translate(702px, 372px);
}
#arcGraph g.state30 {
  transform: translate(727px, 372px);
}
#arcGraph g.state31 {
  transform: translate(752px, 372px);
}
#arcGraph g.state32 {
  transform: translate(777px, 372px);
}
#arcGraph g.state33 {
  transform: translate(802px, 372px);
}
#arcGraph g.state34 {
  transform: translate(827px, 372px);
}
#arcGraph g.state35 {
  transform: translate(852px, 372px);
}
#arcGraph g.state36 {
  transform: translate(877px, 372px);
}
#arcGraph g.state37 {
  transform: translate(902px, 372px);
}
#arcGraph g.state38 {
  transform: translate(927px, 372px);
}
#arcGraph g.state39 {
  transform: translate(952px, 372px);
}
#arcGraph g.state40 {
  transform: translate(977px, 372px);
}
#arcGraph g.state41 {
  transform: translate(1002px, 372px);
}
#arcGraph g.state42 {
  transform: translate(1027px, 372px);
}
#arcGraph g.state43 {
  transform: translate(1052px, 372px);
}
#arcGraph g.state44 {
  transform: translate(1077px, 372px);
}
#arcGraph g.state45 {
  transform: translate(1102px, 372px);
}
#arcGraph g.state46 {
  transform: translate(1127px, 372px);
}
#arcGraph g.state47 {
  transform: translate(1152px, 372px);
}
#arcGraph g.state48 {
  transform: translate(1177px, 372px);
}
#arcGraph g.state49 {
  transform: translate(1202px, 372px);
}
#arcGraph g.state50 {
  transform: translate(1227px, 372px);
}
#arcGraph g.state51 {
  transform: translate(1252px, 372px);
}
